<!DOCTYPE html>
<html>
  <head>
    <title>ReSoundCloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/686e5662f9.js"></script>

    <% if logged_in? %>
      <script type="text/javascript">
  	  window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
  	  	user: current_user).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
    window.frontHeroURL = "<%= image_url('frontHero.jpg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
